{% extends 'nails/base.html' %}
{% block content %}
<div class="container ms-4 mt-4">
<h5 class="ms-3">{{confirmation}}, Вы успешно записались!</h5><br>
<h><b>{{master}}</b>{{confirmation.master}}</p>
<p><b>{{service}}</b>
    {% for rs in reg_serv %}
    <ul>
        <li>{{rs}}</li>
    </ul>
    {% endfor %}
</p>
<p><b>{{duration}}</b>
    {% for ms in masterservice %}
    <ul>
        <li>{{ms.duration}}</li>
    </ul>
    {% endfor %}
</p>
<p><b>{{price}}</b>
    {% for ms in masterservice %}
    <ul>
        <li>{{ms.price}}</li>
    </ul>
    {% endfor %}
</p>
<a class="btn btn-outline-primary mt-4 me-4 px-4 py-2" href="{% url 'home' %}" role="button">ОК</a>
</div>
{% endblock %}