{% extends 'nails/base.html' %}
{% block content %}
    {% for m in main_page %}
        <div class="mx-auto mt-2" style="width: 200px;">
          <h3>{{m.title}}</h3>
        </div>
        <div class="ms-4"> <!-- Текст над фото -->
          <p>{{m.description_upper|linebreaksbr}}</p>
        </div>
        <div class="mx-auto" style="width: 200px;">
          <h4>Примеры ниш</h4>
        </div>
            <div class="container mb-3"> <!-- Контейнер с изображениями -->
                <div class="row">
                    <div class="col-sm">
                      <img src="{{m.picture1.url}}" class="img-fluid img-thumbnail rounded" width="300px" height="300px" alt="Автосервис">
                    </div>
                    <div class="col-sm">
                      <img src="{{m.picture2.url}}" class="img-fluid img-thumbnail rounded" width="300px" height="300px" alt="Массажный салон">
                    </div>
                    <div class="col-sm">
                      <img src="{{m.picture3.url}}" class="img-fluid img-thumbnail rounded" width="300px" height="300px" alt="Стоматология">
                    </div>
                </div>
            </div>
        <div class="ms-4"> <!-- Текст под фото -->
          <p>{{m.description_under|linebreaksbr}}</p>
        </div>
        <div class="container mb-4"> <!-- Контейнер с кнопками -->
          <h6>Вы можете познакомиться с:</h6>
          <a class="btn btn-primary mt-2 me-4" href="{% url 'masters' %}" role="button">Выбор мастера</a>
          <a class="btn btn-primary mt-2 me-4" href="{% url 'services' %}" role="button">Услуги</a>
          <a class="btn btn-primary mt-2" href="{% url 'reg' %}" role="button">Запись</a>
        </div>
    {% endfor %}
{% endblock %}