{% extends 'nails/base.html' %}
{% load nails_tags %}
{% block content %}
<div class="container mt-4 mb-4 mb-4">
    <img src="{{master.photo.url}}" class="img-fluid img-thumbnail rounded mb-3 me-4 float-start" width="125px" height="150px" alt="{{m.name}}">
    <h4>{{master.name}}</h4>
    <p>{{master.grade}}
       {{master.experience}}</p>
    <p>Рейтинг: {{master.rating}}</p>
    <p>{{master.description}}</p></br>
</div>
<div style="clear:both"></div>
<h4 class="ms-4"><a href="{% url 'services' %}">Услуги</a></h4> <!-- Сделать надпись обтекаемой под фотку -->
<div class="container mt-5 mb-4"> <!-- ПЕРЕДЕЛАТЬ КОНТЕЙНЕР ПОД ГОРИЗОНТАЛЬНУЮ ТАБЛИЦУ С УЧЁТОМ PeopleService -->
    <div class="row">
        <div class="col-sm">
            <h6>Наименование</h6>  
            <ul>
                {% for mas in master_service %}
                <li>{{mas}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            <h6>Продолжительность</h6>
                <ul>
                    {% for mas in master_service %}
                        {% if mas.services.title == 'Дизайн' or mas.services.title == 'Наращивание' %}
                            <li>{{mas.duration}}{{duration}}{{part}}</li>
                        {% else %}
                            <li>{{mas.duration}}{{duration}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>    
        </div>
        <div class="col-sm">
            <h6>Цена</h6>
                <ul>
                    {% for mas in master_service %}
                        {% if mas.services.title == 'Дизайн' or mas.services.title == 'Наращивание' %}
                            <li>{{mas.price}}{{price}}{{part}}</li>
                        {% else %}
                            <li>{{mas.price}}{{price}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    </div>
    <a class="btn btn-outline-primary mb-4 me-4 mt-3" href="{% url 'reg' %}" role="button">Записаться</a>
</div>
    <h5 class="ms-4">Отзывы(кол-во):</h5>

{% endblock %}