{% extends 'nails/base.html' %}
{% block content %}
<div class="container mt-4 mb-4">
    {% for m in master_id %}
        <img src="{{m.photo.url}}" class="img-fluid img-thumbnail rounded mb-3 me-4 float-start" width="150px" height="200px" alt="{{m.name}}">
        <h4>{{m.name}}</h4>
        <p>{{m.grade}}
        {{m.experience}}</p>
        <p>{{m.rating}}</p>
        <p>{{m.description}}</p>
    {% endfor %}
    {{master.content}}
    <a href="#"><h5>Услуги</h5></a>
    <ul>
        {% for s in service %}
            <li>{{s.title}}</li>
        {% endfor %}
    </ul>
    <a class="btn btn-outline-primary mb-4 me-4" href="#" role="button">Записаться</a>
    <h5>Отзывы(кол-во):</h5>
</div>
{% endblock %}