{% extends 'nails/base.html' %}
{% load nails_tags %}
{% block content %}
<div class="container mt-4 mb-4">
    <img src="{{master.photo.url}}" class="img-fluid img-thumbnail rounded mb-3 me-4 float-start" width="200px" height="250px" alt="{{m.name}}">
    <h4>{{master.name}}</h4>
    <p>{{master.grade}}
       {{master.experience}}</p>
    <p>Рейтинг: {{master.rating}}</p>
    <p>{{master.description}}</p>
</div>
<div class="container mt-5 mb-4"> <!-- ПЕРЕДЕЛАТЬ КОНТЕЙНЕР ПОД ГОРИЗОНТАЛЬНУЮ ТАБЛИЦУ С УЧЁТОМ PeopleService -->
    <h5><a href="{% url 'services' %}">Услуги</a></h5>  <!-- Сделать надпись обтекаемой под фотку -->
    <div class="row">
        <div class="col-sm">
            <ul>
                {% servs as serv %}
                    {% for s in serv %}
                        <li>{{s.title}}</li>
                    {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
    
                <ul>
                    {% for mas in master_service %}
                    <li>{{mas.duration}}</li>
                    {% endfor %}
                </ul>
            
        </div>
        <div class="col-sm">
                <ul>
                    {% for mas in master_service %}
                    <li>{{mas.price}}</li>
                    {% endfor %}
                </ul>
            
        </div>
    </div>
    <a class="btn btn-outline-primary mb-4 me-4" href="#" role="button">Записаться</a>
</div>
    <h5>Отзывы(кол-во):</h5>

{% endblock %}