{% extends 'nails/base.html' %}
{% block content %}
<div class="mx-auto" style="width: 200px;">
    <h2>Запись</h2>
</div>
<div class="container mt-5 mb-4"> <!-- ПЕРЕДЕЛАТЬ КОНТЕЙНЕР ПОД ГОРИЗОНТАЛЬНУЮ ТАБЛИЦУ С УЧЁТОМ PeopleService -->
    <div class="row">
        <div class="col-sm">
            <h5>Выбранный мастер:</h5>  
            <ul>
                
            </ul>
        </div>
        <div class="col-sm">
            <h5>Выбрать услуги:</h5>
                <ul>
                    
                </ul>
            
        </div>
        <div class="col-sm">
            <h5>Выбрать дату и время:</h5>
                <ul>
                    
                </ul>            
        </div>
        <div class="col-sm">
            <h5>Записаться:</h5>
                <ul>
                    
                </ul>            
        </div>
    </div>
</div>

{% endblock %}